<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="directories" type="System.Configuration.AppSettingsSection"/>
  </configSections>
  <appSettings>
    <add key="saveXMLPath" value="file.xml"/>
    <add key="AADllPath" value="..\\..\\..\\AADllFile\\TPA.ApplicationArchitecture.dll"/>
    <add key="pluginsPath" value="..\\..\\..\\AADllFile\\XMLDll" />
    <add key="readXMLPath" value="file.xml"/>
  </appSettings>
</configuration>