<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="directories" type="System.Configuration.AppSettingsSection"/>
  </configSections>
  <appSettings>
    <add key="AADllPath" value="..\\..\\..\\AADllFile\\TPA.ApplicationArchitecture.dll"/>
    <add key="pluginsPath" value="..\\..\\..\\plugins"/>
  </appSettings>
</configuration>