<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="directories" type="System.Configuration.AppSettingsSection" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="saveXMLPath" value="file.xml" />
    <add key="AADllPath" value="..\\..\\..\\AADllFile\\TPA.ApplicationArchitecture.dll" />
    <add key="pluginsPath" value="..\\..\\..\\AADllFile\\EntityDll" />
    <add key="readXMLPath" value="file.xml" />
  </appSettings>
</configuration>